h1{
    color:black;
}
h2{
    color: darkmagenta;
}
table{
  color:mediumblue;
}
h3{
    color: darkmagenta;
}
ol{
    color: mediumblue;
}
h4{
    color: darkmagenta;
}
ul{
    color:mediumblue ;
}